# -- BASE DE DATOS LDAP ---
LDAP_SERVER = 'ldapsCLSLA.la.ad.goodyear.com'
LDAP_PORT = 3268
LDAP_USER = 'la\\USERNAME'
LDAP_PASS = 'YOUR_PASSWORD'

# --- CONFIGURACIÓN DE CORREO SMTP ---
SMTP_SERVER=smtp.office365.com
SMTP_PORT=587
SMTP_USER=YOUR_EMAIL@goodyear.com
SMTP_PASS=YOUR_PASSWORD
SMTP_USE_TLS=True
SMTP_USE_SSL=False
